<ion-header>
  <ion-navbar>
   
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-card *ngFor="let hosp of hospedagens; let i = index;" text-wrap>
      <span>{{hosp.nome}}</span>
      
          
          <button class="fav" ion-button clear icon-only isActive="false" (click)="favoritar(hosp.id, hosp, i, hosp.email)">
            <ion-icon *ngIf="!hosp.valido" name="heart-outline" style="color:#e3b04f;"></ion-icon>
            <ion-icon *ngIf="hosp.valido" name="heart" style="color:#e3b04f;"></ion-icon>
          </button>     
      
      <div>
        <img src="{{'data:image/png;base64,' + hosp.foto}}">
        <div class="div-icon" *ngIf="hosp.album && hosp.album.length">
        <ion-icon (click)="openSlider(hosp)" name="md-images"></ion-icon>
        </div>
      </div>
      
   
  </ion-card>
  <ion-card>
   
  <ion-item>
        <ion-label floating>MAPS</ion-label>
        <ion-input type="latitude" [(ngModel)]="latitude"></ion-input>
        <ion-input type="longitude" [(ngModel)]="longitude"></ion-input>
      </ion-item>
      <button ion-button block clear (click)="openMaps(latitude, longitude)">Abrir Maps</button>
  <ion-item>
    <ion-label floating>URL</ion-label>
    <ion-input type="url" [(ngModel)]="url"></ion-input>
  </ion-item>
  <button ion-button block clear (click)="openWebpage(url)">Abrir Browser</button>
  <ion-item>
    <ion-label floating>Telefone</ion-label>
    <ion-input type="telefone" [(ngModel)]="telefone"></ion-input>
  </ion-item>
  <button ion-button block clear (click)="openCall(telefone)">Call</button>
  <ion-item>
    <ion-label>Mapa</ion-label>
  </ion-item>
  <button ion-button block clear (click)="showCheckBox()">Abrir</button>
  <!-- <ion-item>
  <ion-label>Facebok</ion-label>
  </ion-item>
  <button ion-button block clear (click)="irPaginaLogin()">Login</button>-->
  </ion-card>
  <br/>
  <div #map id="map"></div>
  
</ion-content>
