<ion-header>
  <ion-navbar>
   
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-card *ngFor="let h of hospedagens; let i = index;" text-wrap>
      <span>{{h.nome}}</span>
      
          
          <button class="fav" ion-button clear icon-only isActive="false" (click)="favoritar(h.id, i)">
            <ion-icon *ngIf="!h.valido" name="heart-outline" style="color:#e3b04f;"></ion-icon>
            <ion-icon *ngIf="h.valido" name="heart" style="color:#e3b04f;"></ion-icon>
          </button>     
      
      <div class="foto">
        <img *ngIf='!h.foto' src='assets/imgs/sem-foto.png'>
        <img *ngIf='h.foto' src="{{'data:image/png;base64,' + h.foto}}">
        <div class="div-icon" *ngIf="h.album && h.album.length">
        <ion-icon (click)="openSlider(h)" name="md-images"></ion-icon>
        </div>
      </div>

      <ion-row class="hosp-card-row">
        <button *ngIf="h.celular" ion-button clear icon-only>
          <ion-icon name="call"></ion-icon>
        </button>
        <button *ngIf="h.email" ion-button clear icon-only>
          <ion-icon name="mail"></ion-icon>
        </button>
        <button *ngIf="h.site && h.plano == 'Premium'" (click)="openWebpage(h.site)"ion-button clear icon-only>
          <ion-icon name="md-globe"></ion-icon>
        </button>
        <button *ngIf="h.facebook && h.plano == 'Premium'" ion-button clear icon-only>
          <ion-icon name="logo-facebook"></ion-icon>
        </button>
        <button *ngIf="h.instagram && h.plano == 'Premium'" ion-button clear icon-only>
          <ion-icon name="logo-instagram"></ion-icon>
        </button>
        <button *ngIf="h.latitude && h.longitude" ion-button clear icon-only>
          <ion-icon name="navigate"></ion-icon>
        </button>
        <button ion-button block clear (click)="emailForm(h)"> Solicitar </button>
      </ion-row>
          
   
  </ion-card>
  <ion-card>
   
  <ion-item>
        <ion-label floating>MAPS</ion-label>
        <ion-input type="latitude" [(ngModel)]="latitude"></ion-input>
        <ion-input type="longitude" [(ngModel)]="longitude"></ion-input>
      </ion-item>
      <button ion-button block clear (click)="openMaps(latitude, longitude)">Abrir Maps</button>
  <ion-item>
    <ion-label floating>URL</ion-label>
    <ion-input type="url" [(ngModel)]="url"></ion-input>
  </ion-item>
  <button ion-button block clear (click)="openWebpage(url)">Abrir Browser</button>
  <ion-item>
    <ion-label floating>Telefone</ion-label>
    <ion-input type="telefone" [(ngModel)]="telefone"></ion-input>
  </ion-item>
  <button ion-button block clear (click)="openCall(telefone)">Call</button>
  <ion-item>
    <ion-label>Mapa</ion-label>
  </ion-item>
  <button ion-button block clear (click)="showCheckBox()">Abrir</button>
  <button ion-button block clear (click)="emailForm()"> Solicitar </button>
  <!-- <ion-item>
  <ion-label>Facebok</ion-label>
  </ion-item>
  <button ion-button block clear (click)="irPaginaLogin()">Login</button>-->
  </ion-card>
  <br/>
  <div #map id="map"></div>
  
</ion-content>
